<!DOCTYPE html>
<html xmlns:th="www.tymeleaf.org" lang="en">
  <head>
      <meta charset="utf-8">
      <title>Calendar analysis</title>
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">SimpleCal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="/calendar">Calendar </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/add-new-event">Add event</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">View calendars <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/add-new-calendar">Add calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stat">Statistics</a>
      </li>
    </ul>
    
     <form id="logoutForm" action="#" method="POST" th:action="@{/logout}" class="form-inline my-2 my-lg-0">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>

        <h6 style="color:white;"> Welcome, <span th:text="${#request.userPrincipal.name}"></span> | <a onclick="document.forms['logoutForm'].submit()">Logout</a></h6>
    
    
  </div>
</nav>

    <div class="container w-50 ">

       <br><br><br> <form action="#" th:action="@{/choose-cal}" th:object="${statHelper}" method="post">
        <h2 class="form-signin-heading text-center">Your calendars</h2><br>
        
			      		  <div class="form-group">
			    <label for="chooseCalendarForm">Choose a calendar</label>
			    <select  multiple class="form-control" id="calendarSelection" th:value="${chosenCalendar}" name="calName">
				    </select>
				  </div>
			  <div class="form-group">
		  </div>
		  <span style="font-weight:bold">Type of analysis:</span><br><br>
	  <select th:field="*{statMethod}">
	  <option 
	      th:each="dropdownValue: ${analysisTypes}"
	      th:value="${dropdownValue}"
	      th:text="${dropdownValue}" ></option>
	</select>
		  <br><br>
		    <span style="font-weight:bold">Graph type:</span><br>
		 <ul>
		  <li th:each="radioValue: ${graphTypes}">
		    <input type="radio" 
		        th:field="*{graphMethod}"
		        th:value="${radioValue}" />
		    <label 
		        th:text="${radioValue}"></label>
		  </li>
		</ul>
				  
         <br> <button class="btn btn-lg btn-primary btn-block" type="submit">Generate statistics!</button><br>
    </form>


   
   
    </div>
 
			
    <input type="hidden" id="calendars" th:value="${calendarList}"/>
    
<script>


var x = document.getElementById("calendarSelection");


var allCalendars = JSON.parse(document.getElementById("calendars").value)
for(let i = 0; i < allCalendars.length; i++){
	option = document.createElement("option");
	option.text = allCalendars[i].title;
	x.add(option);
}

</script>


   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>